@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* body{
    font-family: 'Permanent Marker', cursive;
} */
#hero{
    background-image: url("../assets/images/ivan-torres-hero img.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    height: 100vh;
    max-width: 100%;
    font-family: 'Permanent Marker', cursive;
    color:white;
}
 section .options{
    
    justify-content: right;
    padding-right: 10%;
    cursor: pointer;
    font-size:24px;
    display: flex;
    padding-top: 5%;
}
section .header{
    justify-content:center;
    align-items: center;
    font-size:54px;
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

h1{
    text-align: center;
    font-size: 24;
    padding-top: 10px;
    font-family: Permanent Marker;
}
/* our specials */

p.textForSection{
    text-align: center;
    padding-top: 2%;
}
img{
    border-radius: 10;
}
 .card {
    width: 60px;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 3px;
    box-shadow: inset;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

/* our story */
#abt{
    float: left;
   height: 70vh;
    width: 50vw;
    margin-left: auto;
}
.aboutus h1{
    display: block;
    text-decoration: underline;
    color: rgb(235, 80, 19);
    text-align: center;
}
.aboutus{
    display: block;
    justify-content: center;
    background-color: rgb(218, 218, 211);
    height: 70vh;
} 

.ourstory{
    
   height: 70vh;
    padding-top:5%;
}

/* menu */
.menu{
    padding-top: 10%;
    height: 70vh;
    
}
.mark img:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.images{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}
.chef{
    background-color: #c2bfbf;
    height: 80vh;
}

.chef img{
    float: left;
    height: 70vh;
    width: 100vh;
    padding-left: 30%;
}
.chef div{
    float: right;
    padding-right: 20%;

}
.chef p{
    padding-left: 70%;
}
/* Making an order */
#order{
    background-image: ;
    padding-left: 30%;
    padding-right: 30%;
    color: black;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#contactus {
    width: 30%;
    height: 40%;
    /* display: flex;
    float: left; */
}
#contact{
    width: 100%;
    padding: 5% 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#contact .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact .form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .form form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#contact .form form input {
    padding: 3% 4%;
    font-size: 0.65vw;
    margin: 3% 0;
    border-radius: 0.5vw;
    outline: none;
    border: 0.1vw solid rgba(0, 0, 0, 0.5);
}

#contact .form form textarea {
    padding: 4%;
    font-size: 0.65vw;
    margin: 3% 2%;
    border-radius: 0.5vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.5);
    outline: none;
    width: 100%;
    height: 7vw;
}

#contact .form form input[type=submit]{
    background-color: #ca0808;
    width: 30%;
    color: #fff;
    font-size: 0.8vw;
    padding: 3% 0;
    outline: none;
    border: none;
    cursor: pointer;
}

#contact .form h3, #contact .contact-info h3 {
    color: #ca0808;
    margin-bottom: 5%;
    font-size: 1.5vw;
}

#contact .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact .contact-info div {
    display: flex;
    width: 100%;
    padding: 3% 0;

}

#contact .contact-info div svg {
    width: 2vw;
    color: #ca0808;
    margin-right: 3%;
}

/* footer section */
footer{
    background-color: #252525;
    color: #FAF3F3;
    font-weight: 600;
    padding: 1% 0 1% 0;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: #DD1C1C;
}
footer a:hover{
   color: #fa0000;
}

#order{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/pablo-pacheco-D3Mag4BKqns-unsplash.jpg");
    background-size: cover;
    padding: 3% 0 5% 0;
    color: #FAF3F3;
}
.order-red{
    background-color: rgba(225, 228, 57, 0.644);
    padding: 7%;
}
.order-red button{
    padding: 2%;
    margin: 3% 0 3% 0;
    border:#FAF3F3 2px solid;
    background-color: transparent;
    color: #FAF3F3;
    
}
#p-order, .new-order a{
    position: relative;
    left: 30%;
}
.form-check-input, .form-select, form input{
    background-color: transparent;
    border: #FAF3F3 1px solid;
}
.form-select option {
    background-color: #FAF3F3 !important;
    color: #DD1C1C !important;
  }
  .form-check-input:checked{
    background-color: #FAF3F3;
  }
  .summary{
      background-color: #FAF3F3;
      margin-top: 15%;
  }
  .summary h3{
      color: #DD1C1C;
      margin-top: 4%;
    
      text-align: center;
  }
}
#home a:hover, button:hover, .new-order a:hover{
    transition: 0.5s ease;
    transform: scale(1.2);
}
.order, .location, .delivery, .pick-up ,.summary{
    display: none;
}
#about{
    background-color: #FAF3F3;
    padding: 3% 0 3% 0;
    font-weight: bold;
}
#about p:last-child , #about p:first-child{
    color: #DD1C1C;
    font-size: larger;
}
#our-pizza{
    background: url("../assets/our_p.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 3% 0 5% 0;
}
#our-pizza img{
    margin: 5% 0 5% 0;
}
.titles{
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
}
.titles span{
    color: #DD1C1C;
    font-size: x-large;
}
#order{
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/pablo-pacheco-D3Mag4BKqns-unsplash.jpg");
    background-size: cover;
    padding: 3% 0 5% 0;
    color: #FAF3F3;
}
.order-red{
    background-color: rgba(219, 35, 35, 0.639);
    padding: 7%;
}
.order-red button{
    padding: 2%;
    margin: 3% 0 3% 0;
    border:#FAF3F3 2px solid;
    background-color: transparent;
    color: #FAF3F3;
    
}
#p-order, .new-order a{
    position: relative;
    left: 30%;
}
.form-check-input, .form-select, form input{
    background-color: transparent;
    border: #FAF3F3 1px solid;
}
.form-select option {
    background-color: #FAF3F3 !important;
    color: #DD1C1C !important;
  }
  .form-check-input:checked{
    background-color: #FAF3F3;
  }
  .summary{
      background-color: #FAF3F3;
      margin-top: 15%;
  }
  .summary h3{
      color: #DD1C1C;
      margin-top: 4%;
      text-align: center;
  }
  #contact-us{
    background-color: black;
    color: #FAF3F3;
  }
  #contact-us .input-group input{
    background-color: transparent;
    border: #FAF3F3 1px solid;
    border-radius: 30px;
    margin-left: 3%;
  } 
 #contact-us button{
    color: white;
    background-color: rgb(221, 28, 28);
    border: #FAF3F3 1px solid;
    border-radius: 30px;
 }
 #contact-us i{
     margin-right: 3%;
     padding-bottom: 3%;
     color: #a8ad5a;
 }
 footer{
     background-color: #252525;
     color: #FAF3F3;
     font-weight: 600;
     padding: 1% 0 1% 0;
     text-align: center;
 }
 footer a{
     text-decoration: none;
     color: #DD1C1C;
 }
 footer a:hover{
    color: #fa0000;
}
.new-order a{
    color: white;
    background-color: rgb(221, 28, 28);
    padding: 1%;
    border-radius: 30px;
    margin-bottom: 3%;
}

